@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
    <div class="col-md-3">
        <a href="@Url.Action("Series",new { seriesTitle = comicBook.SeriesTitle })">
            <text>@comicBook.SeriesTitle</text>
        </a>

        <a href="@Url.Action("Detail",new { IssueNumber=comicBook.IssueNumber })">
            <text>@comicBook.IssueNumber</text>
        </a>

        <a href="@Url.Action("Detail",new {Id=comicBook.Id })">
            <img src="/Images/@comicBook.CoverImageFile"
                 alt=@comicBook.DisplayText
                 class="img-responsive" />
        </a>
    </div>
    }
    
</div>

